Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-deprecated-headers,
  -readability-magic-numbers,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type
